/* Mobile v. < 780px
 * Use: @media (min-width: 780px)
 * 
 */

 :root {
  --brand-color: #4f359b;
  --brand-ligth-color: #8c6ecc;

  --color-link: rgba(17, 17, 17, 0.6);
  --color-link-action: rgba(17, 17, 17, 0.8);

  --color-dark-theme: rgb(136, 136, 136);
  --color-link-dark-theme-action: rgba(255, 255, 255, 0.74);

  --gray-color: #888;
}

html {
  background: #fafafa;
  font: 400 10px 'Roboto', sans-serif;
}
  html[dark] {
    background: #131313;
  }

body {
  font-size: 1.3rem;
  color: #888;
}
  [dark] body {

  }

a {
  text-transform: none;
  color: var(--color-link);
}
  a:hover {
    color: var(--color-link-action);
  }
  [dark] a {
    color: var(--color-link-dark-theme);
  }
  [dark] a:hover {
    color: var(--color-link-dark-theme-action);
  }

.section {
  padding: 56px 0;
}

.section-full {
  min-height: 100vh;
}

.section_cont {
  width: 86%;
  max-width: 1120px;
  margin: 0 auto;
}

.section_title {
  font-size: 2.4rem;
  color: var(--gray-color);
  font-weight: 500;
}

.section_content {
  margin: 30px 0 0 0;
}

/* .btn--accent {
  background-color: var(--brand-color);
  border-color: var(--brand-ligth-color);
}
  .btn--accent:hover {
    background-color: var(--brand-ligth-color);
  } */

/*  */

/* 


/* 


  

  .section-features {
    background: #fff;
  }









.features {
  display: grid;
  grid-gap: 2.5rem;
  grid-template: "fs" "ft" "fr" "fsy";
}
.feature.a-card {
  background: #fafafa;
  color: rgb(136, 136, 136);
  line-height: 2rem;
  font-weight: 300;
}
@media (min-width: 780px) {
  .features {
      grid-template: "fs fs" "fsy fr" "ft ft";
  }
}
.feature-save {
  grid-area: fs;
}
.feature-recommend {
  grid-area: fr;
}
.feature-sync {
  grid-area: fsy;
}
.feature-track {
  grid-area: ft;
} */